body {
    background-color: #F2F2F2;
    color: #A66D60;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BF9484;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #F2F2F2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

nav a:hover {
    background-color: #593027;
}

.active {
    background-color: #A66D60;
}
nav a:visited {
    color: white;
}
